.game-field .row {
    height: 60px;
    display: flex;
}

.field {
    height: 60px;
    width: 60px;
    background: white;
    border: 2px;
    border-color: black;
    border-style: solid;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color1 {
    display: inline-block;
    background-color: red;
    height: 50px;
    width: 50px;
    border: 2px;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color2 {
    display: inline-block;
    background-color: blue;
    height: 50px;
    width: 50px;
    border: 2px;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color3 {
    display: inline-block;
    background-color: yellow;
    height: 50px;
    width: 50px;
    border: 2px;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color4 {
    display: inline-block;
    background-color: forestgreen;
    height: 50px;
    width: 50px;
    border: 2px;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color5 {
    display: inline-block;
    background-color: blueviolet;
    height: 50px;
    width: 50px;
    border: 2px;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ball {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    height: 60px;
    width: 60px;
    background: lightblue;
    border: 2px;
    border-color: black;
    border-style: solid;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active {
    -webkit-box-shadow: -2px 6px 20px 14px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 6px 20px 14px rgba(0,0,0,0.75);
    box-shadow: -2px 6px 20px 14px rgba(0,0,0,0.75);
}