{% extends 'layout.html' %}

{% block body %}

<!-- hello -->

<div class="game-field">
{% for row in range(rows) %}
    <div class="row">
        {% for col in range(cols) %}
            <div class="field">
                {% if col % 2 == 0 %}
                    <div class="ball"></div>     <!-- balls on positions but without flask yet -->
                {% endif %}
            </div>

        {% endfor %}
    </div>

<!--        <div class="ball"></div>-->

{% endfor %}
</div>

{% endblock %}
